/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wpc-upload-product-design, .btn-choose.tpl, .wpc-customize-product
{
    width: 100% !important;
    max-width: 100% !important;
    display: block !important;
}

.btn-choose.tpl{
    background: #cdc81e;
    border-bottom: 1px solid #ACA91A;
}

.btn-choose.custom{
    background: #008099;
    border-bottom: 1px solid #00728A;
}

.btn-choose:hover, .btn-choose.tpl
{
    color: white;
}

.btn-choose , .grid-pad .wpc-button, .kad-btn-primary, .wpc-customize-product, .wpc-upload-product-design{
    color: rgb(255, 255, 255);
    cursor: pointer;
    /*height: 44px;*/
    letter-spacing: 1px;
    min-width: 40px;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    width: 131px;
    background: rgb(104, 184, 196) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(3, 137, 156);
    border-left: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold 14px/14px effra, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 14px;
    transition: all 0.15s ease 0s;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.wpc-tpl-title
{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #8A8A8A;
}

.wpc-tpl-title
{
    margin-bottom: 0;
    border-top: 2px solid #9dd8d9;
}

#wpc-templates-list .col-1-4
{
    text-align: center;
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

#wpc-templates-list img
{
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

#wpc-templates-list .grid .col-1-4:not(:last-of-type)
{
    border-right: none;
}


#wpd-modal .modal-body> div, .wpc_part .modal-body>div
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#wpd-modal img
{
    max-width: 100%;
}

.wpc-uploaded-design-container
{
    position: relative;
    width: 100%;
}

.custom-uploader #drop{
    border: 1px dotted lightgray;
    padding: 20px;
    text-align: center;
    color:#d9e1e7;
}

.custom-uploader ul
{
    list-style: none;
}

#custom-upload-form #drop input{
    display: none;
}

#custom-upload-form #drop label  {

    display: block;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    background: url('../images/Uploadicon.png')  no-repeat center center transparent;
    cursor:pointer;
}
#custom-upload-form #drop a
{
    text-transform: uppercase;
}

.acd-progress-bar
{
    width: 100%;
    height: 10px;
    display: inline-block;
    border: 1px solid #d0d0d0;
    background: white;
}

.acd-progress-bar .acd-progress
{
    background: #4f71b9;
    height: 100%;
}

/*Hides upload meta value on the user account page*/
.variation-wpc_data_upl
{
  display: none !important;
}

.wpd-custom-design:not(:first-of-type)
{
    margin-left: 5px;
}